In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.1'

## Series
A Pandas Series is like a column in a table.
It is a one-dimensional array holding data of any type.

In [3]:
myList = [2, 4, 5, 56]

y = pd.Series(myList)
print(y)

0     2
1     4
2     5
3    56
dtype: int64

## Lables
With the index argument, you can name your own labels.

In [4]:
myList = [2, 4, 5, 56]

y = pd.Series(myList, index = ['a', 'b', 'c', 'd'])
print(y)

a     2
b     4
c     5
d    56
dtype: int64

In [5]:
y['d']

56

In [6]:
y['b']

4

## DataFrames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
Series is like a column, a DataFrame is the whole table.

In [7]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

df = pd.DataFrame(mydataset)
print(df)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [8]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)
df

   calories  duration
0       420        50
1       380        40
2       390        45

**Pandas use the loc attribute to return one or more specified row(s)**

In [9]:
df.loc[[1, 2]]

   calories  duration
1       380        40
2       390        45

## Load Files Into a DataFrame
If your data sets are stored in a file, Pandas can load them into a DataFrame.
comma separated file (CSV file)

In [10]:
df = pd.read_csv('sample.csv')
print(df.to_string())       # print the entire DataFrame

    Serial Number                                                      Company Name               Employee Markme                      Description  Leave
0    9.788190e+12                                                    TALES OF SHIVA                          Mark                             mark      0
1    9.780100e+12                                         1Q84 THE COMPLETE TRILOGY               HARUKI MURAKAMI                             Mark      0
2    9.780200e+12                                                          MY KUMAN                          Mark                             Mark      0
3    9.780010e+12                                           THE GOD OF SMAAL THINGS                 ARUNDHATI ROY               4TH HARPER COLLINS      2
4    9.780550e+12                                                  THE BLACK CIRCLE                          Mark               4TH HARPER COLLINS      0
5    9.788130e+12                                     THE THREE LAWS OF PERFORMANCE                          Mark               4TH HARPER COLLINS      0
6    9.789380e+12                                                 CHAMarkKYA MANTRA                          Mark               4TH HARPER COLLINS      0
7    9.788180e+12                                                          59.FLAGS                          Mark               4TH HARPER COLLINS      0
8    9.780740e+12                               THE POWER OF POSITIVE THINKING FROM                          Mark                  A & A PUBLISHER      0
9    9.789380e+12                                        YOU CAN IF YO THINK YO CAN                         PEALE                  A & A PUBLISHER      0
10   9.788180e+12                                         DONGRI SE DUBAI TAK (MPH)                          Mark                  A & A PUBLISHER      0
11   9.788190e+12                                             MarkLANDA ADYTAN KOSH                          Mark                AADISH BOOK DEPOT      0
12   9.788190e+12                                      MarkLANDA VISHAL SHABD SAGAR                             -                AADISH BOOK DEPOT      1
13   8.187776e+09                              MarkLANDA CONCISE DICT(ENG TO HINDI)                          Mark                AADISH BOOK DEPOT      0
14   9.789380e+12  LIEUTEMarkMarkT GENERAL BHAGAT: A SAGA OF BRAVERY AND LEADERSHIP                          Mark                       AAM COMICS      2
15   9.789380e+12                                           LN. MarkIK SUNDER SINGH                           N.A                       AAN COMICS      0
16   9.789380e+12                                                    I AM KRISHMark                  DEEP TRIVEDI       AATMAN INNOVATIONS PVT LTD      1
17   9.789380e+12                                    DON'T TEACH ME TOLERANCE INDIA                  DEEP TRIVEDI       AATMAN INNOVATIONS PVT LTD      0
18   9.789380e+12                                MUJHE SAHISHNUTA MAT SIKHAO BHARAT                  DEEP TRIVEDI       AATMAN INNOVATIONS PVT LTD      0
19   9.789380e+12                                                SECRETS OF DESTINY                  DEEP TRIVEDI       AATMAN INNOVATIONS PVT LTD      1
20   9.789380e+12                       BHAGYA KE RAHASYA (HINDI) SECRET OF DESTINY                  DEEP TRIVEDI       AATMAN INNOVATIONS PVT LTD      1
21   9.788190e+12                                                    MEIN MANN HOON                  DEEP TRIVEDI       AATMAN INNOVATIONS PVT LTD      0
22   9.789380e+12                                                     I AM THE MIND                  DEEP TRIVEDI                  AATMARAM & SONS      0
23   9.780350e+12                                               THE ART OF CHOOSING              SHEEMark IYENGAR                           ABACUS      0
24   9.780350e+12                                              IN SPITE OF THE GODS                   EDWARD LUCE                           ABACUS      1
25   9.788190e+12                          QUESTIONS & ANWERS ABOUT THE GREAT BIBLE                          Mark      ABC PUBLISHERS DISTRIBUTORS      4
26   9.789380e+12                              NIBANDH EVAM KAHANI LEKHAN { HINDI }                          Mark                       ABHI BOOKS      1
27   9.789330e+12                         INDIAN ECONOMY SINCE INDEPENDENCE 27TH /E                    UMA KAPILA              ACADEMIC FOUNDATION      1
28   9.788170e+12                          ECONOMIC DEVELOPMENT AND POLICY IN INDIA                    UMA KAPILA              ACADEMIC FOUNDATION      1
29   9.789330e+12                      INDIAN ECONOMY PERFORMANCE 18TH/E  2017-2018                    UMA KAPILA              ACADEMIC FOUNDATION      2
30   9.789330e+12           INDIAN ECONOMIC DEVELOPMENTSINCE 1947 (NO RETURMarkBLE)                    UMA KAPILA              ACADEMIC FOUNDATION      1
31   9.789380e+12               PRELIMS SPECIAL READING COMPREHENSION PAPER II CSAT             MarkGENDRA PRATAP  ACCESS PUBLISHING INDIA PVT.LTD      0
32   9.789380e+12                                 THE CONSTITUTION OF INDIA 2ND / E                       AR KHAN  ACCESS PUBLISHING INDIA PVT.LTD     10
33   9.789390e+12                                    INDIAN HERITAGE ,ART & CULTURE                      MADHUKAR  ACCESS PUBLISHING INDIA PVT.LTD     10
34   9.789380e+12                                               BHARAT KA SAMVIDHAN                       AR KHAN  ACCESS PUBLISHING INDIA PVT.LTD      4
35   9.789380e+12                             ETHICS, INTEGRITY & APTITUDE ( 3RD/E)          P N ROY ,G SUBBA RAO  ACCESS PUBLISHING INDIA PVT.LTD     10
36   9.789380e+12                                 GENERAL STUDIES PAPER -- I (2016)                          Mark  ACCESS PUBLISHING INDIA PVT.LTD      0
37   9.789380e+12                                 GENERAL STUDIES PAPER - II (2016)                          Mark  ACCESS PUBLISHING INDIA PVT.LTD      0
38   9.789380e+12                                     INDIAN AND WORLD GEOGRAPHY 2E                   D R KHULLAR  ACCESS PUBLISHING INDIA PVT.LTD     10
39   9.789380e+12                     VASTUNISTHA PRASHN SANGRAHA: BHARAT KA ITIHAS              MEEMarkKSHI KANT  ACCESS PUBLISHING INDIA PVT.LTD      0
40   9.789380e+12                            PHYSICAL, HUMAN AND ECONOMIC GEOGRAPHY                   D R KHULLAR  ACCESS PUBLISHING INDIA PVT.LTD      4
41   9.789380e+12                                                   WORLD GEOGRAPHY                    DR KHULLAR  ACCESS PUBLISHING INDIA PVT.LTD      5
42   9.789380e+12                                   INDIA: MAP ENTRIES IN GEOGRAPHY                  MAJID HUSAIN  ACCESS PUBLISHING INDIA PVT.LTD      5
43   9.789380e+12                                  GOOD GOVERMarkNCE IN INDIA 2/ED.                   G SUBBA RAO  ACCESS PUBLISHING INDIA PVT.LTD      1
44   9.789380e+12           KAMYABI KE SUTRA-CIVIL SEWA PARIKSHA AAP KI MUTTHI MEIN                   ASHOK KUMAR  ACCESS PUBLISHING INDIA PVT.LTD      0
45   9.789380e+12                                      GENERAL SCIENCE PRELIRY EXAM                          Mark  ACCESS PUBLISHING INDIA PVT.LTD      0
46   9.781740e+12                                              SUCCESS AND DYSLEXIA          SUCCESS AND DYSLEXIA                       ACER PRESS      0
47   9.781740e+12                                         AN EXTRAORDIMarkRY SCHOOL                    SARA JAMES                       ACER PRESS      0
48   9.781740e+12                        POWERFUL PRACTICES FOR READING IMPROVEMENT                     GLASSWELL                       ACER PRESS      0
49   9.781740e+12                                      EARLY CHILDHOOD PLAY MATTERS                  SHOMark BASS                       ACER PRESS      0
50   9.781740e+12                                     LEADING LEARNING AND TEACHING                STEPHEN DINHAM                       ACER PRESS      0
51   9.781740e+12                                 READING AND LEARNING DIFFICULTIES                PETER WESTWOOD                       ACER PRESS      0
52   9.781740e+12                                NUMERACY AND LEARNING DIFFICULTIES               PETER WOODLAND]                       ACER PRESS      0
53   9.781740e+12                                TEACHING AND LEARNING DIFFICULTIES                PETER WOODLAND                       ACER PRESS      0
54   9.781740e+12                                    USING DATA TO IMPROVE LEARNING              ANTHONY SHADDOCK                       ACER PRESS      0
55   9.781740e+12                             PATHWAYS TO SCHOOL SYSTEM IMPROVEMENT               MICHAEL GAFFNEY                       ACER PRESS      0
56   9.781740e+12                                               FOR THOSE WHO TEACH                   PHIL RIDDEN                       ACER PRESS      0
57   9.781740e+12                                         KEYS TO SCHOOL LEADERSHIP  PHIL RIDDEN & JOHN DE NOBILE                       ACER PRESS      0
58   9.781740e+12                             DIVERSE LITERACIES IN EARLY CHILDHOOD                 LEONIE ARTHUR                       ACER PRESS      0
59   9.781740e+12                       CREATIVE ARTS IN THE LIVESOF YOUNG CHILDREN                   ROBYN EWING                       ACER PRESS      0
60   9.781740e+12                                SOCIAL AND EMOTIOMarkL DEVELOPMENT     ROS LEYDEN AND ERIN SHALE                       ACER PRESS      0
61   9.781740e+12                                            DISCUSSIONS IN SCIENCE                     TIM SPROD                       ACER PRESS      0
62   9.781740e+12                               YOUNG CHILDREN LEARNING MATHEMATICS                ROBERT HUNTING                       ACER PRESS      0
63   9.781740e+12                                                 COACHING CHILDREN                  KELLY SUMICH                       ACER PRESS      1
64   9.781740e+12                 TEACHING PHYSICAL EDUCATIOMarkL IN PRIMARY SCHOOL                JANET L CURRIE                       ACER PRESS      0
65   9.781740e+12                                          ASSESSMENT AND REPORTING         PHIL RIDDEN AND SANDY                       ACER PRESS      0
66   9.781740e+12                                         COLLABORATION IN LEARNING       MAL LEE AND LORRAE WARD                       ACER PRESS      0
67   9.780860e+12                              RE-IMAGINING EDUCATIMarkL LEADERSHIP              BRIAN J.CALDWELL                       ACER PRESS      0
68   9.780860e+12                                           TOWARDS A MOVING SCHOOL           FLEMING & KLEINHENZ                       ACER PRESS      0
69   9.780860e+12                                DESINGNING A THINKING A CURRICULAM                   SUSAN WILKS                       ACER PRESS      0
70   9.780860e+12                                          LEADING A DIGITAL SCHOOL   MAL LEE AND MICHEAL GAFFNEY                       ACER PRESS      0
71   9.780860e+12                                                          NUMERACY                      WESTWOOD                       ACER PRESS      0
72   9.780860e+12                                            TEACHING ORAL LANGUAGE                    JOHN MUNRO                       ACER PRESS      0
73   9.780860e+12                                                          SPELLING                      WESTWOOD                       ACER PRESS      0
74   9.788190e+12                                                  STORIES OF SHIVA                          Mark                              ACK      0
75   9.788190e+12                         JAMSET  JI TATA: THE MAN WHO SAW TOMORROW                           NaN                              ACK      0
76   9.788180e+12                             HEROES FROM THE MAHABHARTA { 5-IN-1 }                          Mark                              ACK      0
77   9.788180e+12                                                             SURYA                           NaN                              ACK      0
78   9.788180e+12                                       TALES OF THE MOTHER GODDESS                             -                              ACK      0
79   9.788180e+12                                           ADVENTURES OF KRISHMark                          Mark                              ACK      0
80   9.788180e+12                                                    MAHATMA GANDHI                          Mark                              ACK      1
81   9.788180e+12                                TALES FROM THE PANCHATANTRA 3-IN-1                             -                              ACK      0
82   9.788180e+12                        YET MORE TALES FROM THE JATAKAS { 3-IN-1 }                   AMarkNT PAI                              ACK      0
83   9.788180e+12                                         LEGENDARY RULERS OF INDIA                             -                              ACK      0
84   9.788180e+12                                              GREAT INDIAN CLASSIC                          Mark                              ACK      0
85   9.788180e+12                                             TULSIDAS ' RAMAYAMark                          Mark                              ACK      0
86   9.788180e+12                                                  TALES OF HANUMAN                             -                              ACK      0
87   9.788180e+12                                              VALMIKI'S RAMAYAMark                         A C K                              ACK      1
88   9.788180e+12                                 THE BEST OF INIDAN WIT AND WISDOM                          Mark                              ACK      0
89   9.788180e+12                                   MORE TALES FROM THE PANCHTANTRA                   AMarkNT PAL                              ACK      0
90   9.788180e+12                                        THE GREAT MUGHALS {5-IN-1}                      AMarkNT.                              ACK      0
91   9.788180e+12                                                 FAMOUS SCIENTISTS                          Mark                              ACK      0
92   9.788180e+12                                                          KOMarkRK                          Mark                              ACK      0
93   9.788180e+12                                                  THE MUGHAL COURT                       REEMark                              ACK      0
94   9.788180e+12                                     MORE STORIES FROM THE JATAKAS                          Mark                              ACK      0
95   9.788180e+12                                              MORE TALES OF BIRBAL                             -                              ACK      0
96   9.788180e+12                                            TALES FROM THE JATAKAS                             -                              ACK      0
97   9.788180e+12                                                  RAMarkS OF MEWAR                             -                              ACK      0

98   9.788180e+12                                          THE SONS OF THE PANDAVAS                             -                              ACK      0

In [11]:
df = pd.read_csv('sample.csv')
df

,Serial Number,Company Name,Employee Markme,Description,Leave
0,9.788190e+12,TALES OF SHIVA,Mark,mark,0
1,9.780100e+12,1Q84 THE COMPLETE TRILOGY,HARUKI MURAKAMI,Mark,0
2,9.780200e+12,MY KUMAN,Mark,Mark,0
3,9.780010e+12,THE GOD OF SMAAL THINGS,ARUNDHATI ROY,4TH HARPER COLLINS,2
4,9.780550e+12,THE BLACK CIRCLE,Mark,4TH HARPER COLLINS,0
...,...,...,...,...,...
94,9.788180e+12,MORE STORIES FROM THE JATAKAS,Mark,ACK,0
95,9.788180e+12,MORE TALES OF BIRBAL,-,ACK,0
96,9.788180e+12,TALES FROM THE JATAKAS,-,ACK,0
97,9.788180e+12,RAMarkS OF MEWAR,-,ACK,0
98,9.788180e+12,THE SONS OF THE PANDAVAS,-,ACK,0

In [12]:
print(pd.options.display.max_rows)     #returned number of rows

60

In [13]:
pd.options.display.max_rows = 50
print(pd.options.display.max_rows)

50

In [14]:
df = pd.read_json('JSON_Data.json')
df

,id,name,email,password,about,token,country,location,lng,lat,...,sendmenotifications,sendTextmessages,enabletagging,createdAt,updatedAt,livelng,livelat,liveLocation,creditBalance,myCash
0,4051,manoj,manoj@gmail.com,Test@123,None,7f471974-ae46-4ac0-a882-1980c300c4d6,NaN,None,0.0,0.0,...,False,False,False,2020-01-01T11:13:27.1107739,2020-01-02T09:16:49.284864,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",127,0
1,4050,pankaj,p1@gmail.com,Test@123,None,e269eeef-1de1-4438-885a-e30a9ad26106,NaN,None,0.0,0.0,...,False,False,False,2020-01-01T07:39:34.1618239,2020-01-01T07:39:34.161824,0.000000,0.000000,None,0,0
2,3050,Neeraj1993,neeraj.singh@adequateinfosoft.com,286956,None,562c2fb5-6799-4b51-8733-a60564c96adc,NaN,None,0.0,0.0,...,False,False,False,2019-12-27T10:16:05.6578091,2019-12-27T10:22:30.8416992,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",0,0
3,3049,Sophia,sophia@gmail.com,Test@123,Yo,f3bc9393-ad13-41a2-a69b-b607a42d829f,NaN,"18302 Lorance Trail, Little Rock, AR 72206, USA",0.0,0.0,...,False,False,False,2019-12-26T07:36:22.3481221,2019-12-26T07:36:22.3481222,77.367424,28.626067,"35, Block A, Industrial Area, Sector 62, Noida...",36,0
4,3048,Raju Prasad,raju.nsit@gmail.com,Raju@1234,Don't Quit Your Day Dream,b3eda104-0771-4804-8be2-0e6d7c16412d,NaN,"Karbala Rd, Block G, Sector 5, Dakshinpuri, Ne...",0.0,0.0,...,True,True,True,2019-12-26T07:17:08.3460039,2019-12-26T14:27:00.4327446,77.367424,28.626067,"35, Block A, Industrial Area, Sector 62, Noida...",5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,3,Pankaj Patel,Pankaj@gmail.com,123456,None,f6b4bcc8-448b-4b65-84cb-48e9569c5cfe,NaN,None,0.0,0.0,...,False,False,False,0001-01-01T00:00:00,2019-12-05T13:25:01.977078,0.000000,0.000000,None,62,0
51,1003,Test 2,pankajabc@gmail.com,Pankaj@123,An ordinary bhartiya..,c8f53478-4cfb-4382-8531-b44b6d20cd8c,NaN,"Jaipur Engineering College Rd, Kukas, Rajastha...",0.0,0.0,...,False,False,False,0001-01-01T00:00:00,2019-12-23T13:43:27.5816869,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",16,0
52,1004,Test 2,pankajabcd@gmail.com,Pankaj@123,None,3f92cdef-1d8a-4f08-8468-9938dc9284ce,NaN,None,0.0,0.0,...,False,False,False,0001-01-01T00:00:00,2019-12-05T05:19:23.3650433,77.367424,28.626067,"35, Block A, Industrial Area, Sector 62, Noida...",3,0
53,1005,Test 3,test@test.com,123456,None,cc2ed6c5-0a59-4aca-9b8e-a686e0a4fa03,NaN,None,0.0,0.0,...,False,False,False,0001-01-01T00:00:00,2019-12-05T05:19:29.704463,0.000000,0.000000,None,44,0
54,1006,Test 4,test1@test.com,123456,None,f33f3325-bb08-41a5-b545-d2b5c443720f,NaN,None,0.0,0.0,...,False,False,False,0001-01-01T00:00:00,2019-12-05T05:22:11.8963884,0.000000,0.000000,None,1,0

In [15]:
df = pd.read_json('JSON_Data.json')
df.to_string()

'      id                 name                               email               password                                                                                                                                                                                                                                                            about                                 token  country                                                                                                                                   location     lng       lat                    dob  gender  userType  userStatus                                    profilePicture                                     coverPicture  enablefollowme  sendmenotifications  sendTextmessages  enabletagging                    createdAt                    updatedAt    livelng    livelat                                                                                        liveLocation  creditBalance  myCash\n0   4051                manoj                     manoj@gmail.com               Test@123                                                                                                                                                                                                                                                             None  7f471974-ae46-4ac0-a882-1980c300c4d6      NaN                                                                                                                                       None  0.0000  0.000000                   None       0         1           1   Images/9b291404-bc2e-4806-88c5-08d29e65a5ad.png  Images/44af97d9-b8c9-4ec1-a099-010671db25b7.png           False                False             False          False  2020-01-01T11:13:27.1107739   2020-01-02T09:16:49.284864  77.389849  28.628223                              Unnamed Road, Chhijarsi, Sector 63, Noida, Uttar Pradesh 201307, India            127       0\n1   4050               pankaj                        p1@gmail.com               Test@123                                                                                                                                                                                                                                                             None  e269eeef-1de1-4438-885a-e30a9ad26106      NaN                                                                                                                                       None  0.0000  0.000000                   None       0         1           1                                              None                                             None           False                False             False          False  2020-01-01T07:39:34.1618239   2020-01-01T07:39:34.161824   0.000000   0.000000                                                                                                None              0       0\n2   3050           Neeraj1993   neeraj.singh@adequateinfosoft.com                 286956                                                                                                                                                                                                                                                             None  562c2fb5-6799-4b51-8733-a60564c96adc      NaN                                                                                                                                       None  0.0000  0.000000                   None       0         1           1                                              None                                             None           False                False             False          False  2019-12-27T10:16:05.6578091  2019-12-27T10:22:30.8416992  77.389849  28.628223                              Unnamed Road, Chhijarsi, Sector 63, Noida, Uttar Pradesh 201307, India              0       0\n3   3049               Sophia                    sophia@gmail.com               Test@123                                                                                                                                                                                                                                                               Yo  f3bc9393-ad13-41a2-a69b-b607a42d829f      NaN                                                                                            18302 Lorance Trail, Little Rock, AR 72206, USA  0.0000  0.000000    2019-12-19T11:54:19       2         1           1                                              None                                             None           False                False             False          False  2019-12-26T07:36:22.3481221  2019-12-26T07:36:22.3481222  77.367424  28.626067                         35, Block A, Industrial Area, Sector 62, Noida, Uttar Pradesh 201309, India             36       0\n4   3048          Raju Prasad                 raju.nsit@gmail.com              Raju@1234                                                                                                                                                                                                                                        Don\'t Quit Your Day Dream  b3eda104-0771-4804-8be2-0e6d7c16412d      NaN                                                                 Karbala Rd, Block G, Sector 5, Dakshinpuri, New Delhi, Delhi 110044, India  0.0000  0.000000    2019-12-01T01:55:34       1         1           1   Images/291d0a5a-c8c2-45ac-b79f-cc04e0c6f31e.png  Images/7aa45b5d-3adf-4da0-a0fe-694f069e9049.png            True                 True              True           True  2019-12-26T07:17:08.3460039  2019-12-26T14:27:00.4327446  77.367424  28.626067                         35, Block A, Industrial Area, Sector 62, Noida, Uttar Pradesh 201309, India              5       0\n5   3047    Ankiish Thapliyal       thapliyalankiish958@gmail.com              Test@1234                                                                                                                                                        I failed many opportunities may times but I am the one who tries again and again every time with a smile.  caf070df-d2c2-4e99-ba06-9482ef5eb7ba      NaN                                                                                                                                   Dehradun  0.0000  0.000000    2019-12-31T03:02:48       1         1           1   Images/0da0ca00-cfaf-41e8-ab39-cbff55ec64b3.png  Images/088fd182-2a2d-4a72-946d-a90d047e4557.png            True                 True              True           True  2019-12-26T07:13:01.9262534  2019-12-30T11:11:00.4082038  77.379004  28.630186  Suite No. 203 H - 15 Rise tower, Sector 63, H Block, Sector 62, Noida, Uttar Pradesh 201301, India            167       0\n6   3046      Aryan Thapliyal            ashithewarrior@gmail.com              Test@1234  Testing is required for an effective performance of software application or product. It\'s important to ensure that the application should not result into any failures because it can be very expensive in the future or in the later stages of the development  c8cb5636-cd01-4133-adac-360cecc710af      NaN                                                                                                                                   Dehradun  0.0000  0.000000    2019-12-01T05:20:43       1         1           1   Images/8a8a93f3-5696-4387-84e5-ac632cc85ec1.png  Images/cdaf5fa5-e786-49a6-a1d5-453b532f3d8d.png           False                False             False          False  2019-12-26T07:10:53.2318238  2019-12-30T05:32:04.0700419  77.379012  28.630237                                         H15, H Block, Sector 63, Noida, Uttar Pradesh 201301, India            160       0\n7   3045               shivam                    shivam@gmail.com             Shivam@123                                                                                                                                                                                                                                                             None  59b6f0af-fc25-4a6b-b865-5fb29023c6df      NaN                                                                                                                                       None  0.0000  0.000000                   None       0         1           1   Images/da45be05-a363-4b27-bdf7-1a8c9a912ae1.png  Images/4885d2c3-3c86-4ed7-b28b-e1900d618724.png           False                False             False          False  2019-12-26T07:01:24.5014557  2019-12-26T07:02:16.9663295  77.367424  28.626067                         35, Block A, Industrial Area, Sector 62, Noida, Uttar Pradesh 201309, India             11       0\n8   3044       Navya Upadhyay            navya.adequate@gmail.com              navya2123                                                                                                                                                                                                                                                             None  0362f1b5-80be-4dff-bd40-c236c79561eb      NaN                                                                                                                                       None  0.0000  0.000000                   None       0         1           1                                              None                                             None           False                False             False          False  2019-12-26T06:53:22.1076016  2019-12-26T06:53:22.1076017   0.000000   0.000000                                                                                                None              5       0\n9   3043           Ritu singh         ritusinghadequate@gmail.com          ritusingh1234                                                                                                                                                                                                                                                             None  a268517f-960a-418a-9c89-48708372702d      NaN                                                                                                                                       None  0.0000  0.000000                   None       0         1           1                                              None                                             None           False                False             False          False  2019-12-26T06:53:10.2343196  2019-12-26T06:53:10.2343197   0.000000   0.000000                                                                                                None              5       0\n10  3042                 faiz              faizadequate@gmail.com              Test@1234                                                                                                                                                                                                                      I am who I am. Your approval is not needed.  33dd5829-0a01-4b3b-80d3-1a63a75b3436      NaN                                                                                                                                  New Delhi  0.0000  0.000000    2019-12-12T12:10:02       1         1           1   Images/80cdd447-4a3a-483f-b222-86989cc3d37e.png  Images/1717f4f1-47e1-4f5f-9129-72d7933aa15a.png           False                False             False          False  2019-12-26T06:30:58.6524884    2019-12-30T06:57:19.58494  77.379012  28.630232                                         H15, H Block, Sector 63, Noida, Uttar Pradesh 201301, India             38       0\n11  3041        Martin Wilson          ravencomputer667@gmail.com             martin@123                                                                                                                                                                                                                                                      Travelers,   18ceb759-241c-43d3-a9eb-5344ea2ef1d9      NaN                                                                                             Moorgate Station (Stop N), London EC2Y 5EJ, UK  0.0000  0.000000    2019-12-11T12:29:13       1         1           1   Images/023d1a36-ef5e-4248-a9a1-900069fe3f28.png  Images/0e773003-964f-42c8-b591-b33fa0563a85.png            True                 True             False          False  2019-12-26T06:22:36.1180762  2019-12-26T06:29:14.6591852   0.000000   0.000000                                                                                                None             18       0\n12  3040         Shweta Singh          amelia.claire.hi@gmail.com              Test@1234                                                                                                                                                                               What others think of me is none of my business.I’m the most awesome person I know.  e32b4e12-18f3-4fd0-9a3d-2021d8381dff      NaN                                                                              India - Pakistan Border Rd, Bakhasar, Rajasthan 344706, India  0.0000  0.000000    2019-12-02T11:47:56       2         1           1   Images/085985b6-0662-4e1d-b5b4-20016d31514f.png  Images/7efb014a-f551-4702-b5af-2fe11cca2a88.png           False                False             False          False  2019-12-26T06:20:51.0353245  2019-12-30T06:24:31.9803752  77.379004  28.630206  Suite No. 203 H - 15 Rise tower, Sector 63, H Block, Sector 62, Noida, Uttar Pradesh 201301, India             77       0\n13  3039               jagjit  jagjit.singh.adequate.36@gmail.com              Test@1234                                                                                                                                                 Take a chance and live life to the fullest. When we are at our most daring is when we feel the most fulfillment.  1e150816-7075-4d6d-b3d6-eb1c0e415e61      NaN                                                           Delhi - Meerut Expy, Nai Basti Dundahera, Ghaziabad, Uttar Pradesh 201009, India  0.0000  0.000000    2012-01-03T12:00:00       1         1           1   Images/fe49d058-de88-4805-8e2d-0c002b090d15.png  Images/a3dc98f7-0754-4616-bbc0-0395e19bb899.png           False                False             False          False   2019-12-26T06:20:32.873132  2020-01-02T06:29:36.6383214  77.379012  28.630190                                         H15, H Block, Sector 63, Noida, Uttar Pradesh 201301, India             32       0\n14  3038             Ashi 123                   ashi123@gmail.com              Test@1234                                                                                                                                                                                                                                                             None  61a43ad3-02b3-4431-8c1b-1d29933147e1      NaN                                                                                                                                       None  0.0000  0.000000                   None       0         1           1                                              None                                             None           False                False             False          False  2019-12-26T05:30:27.4225101  2019-12-26T05:30:27.4225102   0.000000   0.000000                                                                                                None              0       0\n15  3037        shivamvermaa4             shivam.vemaa4@gmail.com             Shivam@123                                                                                                                                                                                                                                                             None  97534ce9-5386-4b92-9741-fc1860bbcd1a      NaN                                                                                                                                       None  0.0000  0.000000                   None       0         1           1                                              None                                             None           False                False             False          False  2019-12-24T11:58:30.3613651  2019-12-24T11:58:30.3613651  77.389849  28.628223                              Unnamed Road, Chhijarsi, Sector 63, Noida, Uttar Pradesh 201307, India             10       0\n16  3036               Sophia                        n2@gmail.com               Test@123                                                                                                                                                                                                                                                               WE  1ebfb0ac-7d98-43fb-ba41-0e40091c6071      NaN                                                                                             Saint-Louis-Strasse 3, 4056 Basel, Switzerland  0.0000  0.000000    2019-12-18T03:18:47       1         1           1   Images/f3f7694a-0de4-4598-b141-39ad550d1912.png  Images/ae9868ef-f87c-4cc2-8429-5cb46dba6cbd.png           False                False             False          False  2019-12-24T11:36:36.1739424  2019-12-26T09:48:57.2586835  77.389849  28.628223                              Unnamed Road, Chhijarsi, Sector 63, Noida, Uttar Pradesh 201307, India             45       0\n17  3035                   n1                        n1@gmail.com               Test@123                                                                                                                                                                                                                                             An ordinary Bharitya  c40422ef-27ac-4e40-adf5-87403143dc99      NaN  451 DERA THAKRAN HARIDWAR ROAD MAHANT BALBIR SINGH MARKET, Haridwar Road, Haridwar Rd, Chauda Bigha, Rishikesh, Uttarakhand 249201, India  0.0000  0.000000    2019-12-17T12:33:26       1         1           1   Images/4e60754a-e8a7-4db7-b266-f28b2bcf00ae.png  Images/9ca02453-ecfe-4852-9124-aa0595a9e692.png           False                False             False          False  2019-12-24T11:36:03.4815197  2020-01-02T07:20:34.2742376  77.389849  28.628223                              Unnamed Road, Chhijarsi, Sector 63, Noida, Uttar Pradesh 201307, India            187       0\n18  3034                 neha                      neha@gmail.com               Test@123                                                                                                                                                                                                                                                             None  6aaaa999-8e14-40ca-b043-087624c48fd1      NaN                                                                                                                                       None  0.0000  0.000000                   None       0         1           1                                              None                                             None           False                False             False          False  2019-12-24T10:35:00.1292083  2019-12-24T10:35:00.1292083  77.367424  28.626067                         35, Block A, Industrial Area, Sector 62, Noida, Uttar Pradesh 201309, India             53       0\n19  3033               sanjay                    sanjay@gmail.com               Test@123                                                                                                                                                                                                                                                             None  c9989beb-685a-41d7-b6de-77dd208979df      NaN                                                                                     

### head()
The **head()** method returns the headers and a specified number of rows, starting from the top.

In [16]:
df = pd.read_csv('sample.csv')
df.head()

,Serial Number,Company Name,Employee Markme,Description,Leave
0,9.788190e+12,TALES OF SHIVA,Mark,mark,0
1,9.780100e+12,1Q84 THE COMPLETE TRILOGY,HARUKI MURAKAMI,Mark,0
2,9.780200e+12,MY KUMAN,Mark,Mark,0
3,9.780010e+12,THE GOD OF SMAAL THINGS,ARUNDHATI ROY,4TH HARPER COLLINS,2
4,9.780550e+12,THE BLACK CIRCLE,Mark,4TH HARPER COLLINS,0

In [17]:
df = pd.read_json('JSON_Data.json')
df.head()

,id,name,email,password,about,token,country,location,lng,lat,...,sendmenotifications,sendTextmessages,enabletagging,createdAt,updatedAt,livelng,livelat,liveLocation,creditBalance,myCash
0,4051,manoj,manoj@gmail.com,Test@123,None,7f471974-ae46-4ac0-a882-1980c300c4d6,NaN,None,0.0,0.0,...,False,False,False,2020-01-01T11:13:27.1107739,2020-01-02T09:16:49.284864,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",127,0
1,4050,pankaj,p1@gmail.com,Test@123,None,e269eeef-1de1-4438-885a-e30a9ad26106,NaN,None,0.0,0.0,...,False,False,False,2020-01-01T07:39:34.1618239,2020-01-01T07:39:34.161824,0.000000,0.000000,None,0,0
2,3050,Neeraj1993,neeraj.singh@adequateinfosoft.com,286956,None,562c2fb5-6799-4b51-8733-a60564c96adc,NaN,None,0.0,0.0,...,False,False,False,2019-12-27T10:16:05.6578091,2019-12-27T10:22:30.8416992,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",0,0
3,3049,Sophia,sophia@gmail.com,Test@123,Yo,f3bc9393-ad13-41a2-a69b-b607a42d829f,NaN,"18302 Lorance Trail, Little Rock, AR 72206, USA",0.0,0.0,...,False,False,False,2019-12-26T07:36:22.3481221,2019-12-26T07:36:22.3481222,77.367424,28.626067,"35, Block A, Industrial Area, Sector 62, Noida...",36,0
4,3048,Raju Prasad,raju.nsit@gmail.com,Raju@1234,Don't Quit Your Day Dream,b3eda104-0771-4804-8be2-0e6d7c16412d,NaN,"Karbala Rd, Block G, Sector 5, Dakshinpuri, Ne...",0.0,0.0,...,True,True,True,2019-12-26T07:17:08.3460039,2019-12-26T14:27:00.4327446,77.367424,28.626067,"35, Block A, Industrial Area, Sector 62, Noida...",5,0

## tail()
There is also a tail() method for viewing the last rows of the DataFrame.

In [18]:
df = pd.read_csv('sample.csv')
df.tail()

,Serial Number,Company Name,Employee Markme,Description,Leave
94,9.788180e+12,MORE STORIES FROM THE JATAKAS,Mark,ACK,0
95,9.788180e+12,MORE TALES OF BIRBAL,-,ACK,0
96,9.788180e+12,TALES FROM THE JATAKAS,-,ACK,0
97,9.788180e+12,RAMarkS OF MEWAR,-,ACK,0
98,9.788180e+12,THE SONS OF THE PANDAVAS,-,ACK,0

In [19]:
df = pd.read_json('JSON_Data.json')
df.tail()

,id,name,email,password,about,token,country,location,lng,lat,...,sendmenotifications,sendTextmessages,enabletagging,createdAt,updatedAt,livelng,livelat,liveLocation,creditBalance,myCash
50,3,Pankaj Patel,Pankaj@gmail.com,123456,None,f6b4bcc8-448b-4b65-84cb-48e9569c5cfe,NaN,None,0.0,0.0,...,False,False,False,0001-01-01T00:00:00,2019-12-05T13:25:01.977078,0.000000,0.000000,None,62,0
51,1003,Test 2,pankajabc@gmail.com,Pankaj@123,An ordinary bhartiya..,c8f53478-4cfb-4382-8531-b44b6d20cd8c,NaN,"Jaipur Engineering College Rd, Kukas, Rajastha...",0.0,0.0,...,False,False,False,0001-01-01T00:00:00,2019-12-23T13:43:27.5816869,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",16,0
52,1004,Test 2,pankajabcd@gmail.com,Pankaj@123,None,3f92cdef-1d8a-4f08-8468-9938dc9284ce,NaN,None,0.0,0.0,...,False,False,False,0001-01-01T00:00:00,2019-12-05T05:19:23.3650433,77.367424,28.626067,"35, Block A, Industrial Area, Sector 62, Noida...",3,0
53,1005,Test 3,test@test.com,123456,None,cc2ed6c5-0a59-4aca-9b8e-a686e0a4fa03,NaN,None,0.0,0.0,...,False,False,False,0001-01-01T00:00:00,2019-12-05T05:19:29.704463,0.000000,0.000000,None,44,0
54,1006,Test 4,test1@test.com,123456,None,f33f3325-bb08-41a5-b545-d2b5c443720f,NaN,None,0.0,0.0,...,False,False,False,0001-01-01T00:00:00,2019-12-05T05:22:11.8963884,0.000000,0.000000,None,1,0

# Cleaning data

In [20]:
df = pd.read_csv("sample.csv")

new_df = df.dropna()
new_df.head()

,Serial Number,Company Name,Employee Markme,Description,Leave
0,9.788190e+12,TALES OF SHIVA,Mark,mark,0
1,9.780100e+12,1Q84 THE COMPLETE TRILOGY,HARUKI MURAKAMI,Mark,0
2,9.780200e+12,MY KUMAN,Mark,Mark,0
3,9.780010e+12,THE GOD OF SMAAL THINGS,ARUNDHATI ROY,4TH HARPER COLLINS,2
4,9.780550e+12,THE BLACK CIRCLE,Mark,4TH HARPER COLLINS,0

### 1. Remove empty rows

In [21]:
df = pd.read_csv("sample.csv")

df.dropna()
df.head()

,Serial Number,Company Name,Employee Markme,Description,Leave
0,9.788190e+12,TALES OF SHIVA,Mark,mark,0
1,9.780100e+12,1Q84 THE COMPLETE TRILOGY,HARUKI MURAKAMI,Mark,0
2,9.780200e+12,MY KUMAN,Mark,Mark,0
3,9.780010e+12,THE GOD OF SMAAL THINGS,ARUNDHATI ROY,4TH HARPER COLLINS,2
4,9.780550e+12,THE BLACK CIRCLE,Mark,4TH HARPER COLLINS,0

#### If you want to change the original DataFrame, use the **inplace = True** argument:

In [22]:
df = pd.read_csv("sample.csv")
df.dropna(inplace = True)
df.head()

,Serial Number,Company Name,Employee Markme,Description,Leave
0,9.788190e+12,TALES OF SHIVA,Mark,mark,0
1,9.780100e+12,1Q84 THE COMPLETE TRILOGY,HARUKI MURAKAMI,Mark,0
2,9.780200e+12,MY KUMAN,Mark,Mark,0
3,9.780010e+12,THE GOD OF SMAAL THINGS,ARUNDHATI ROY,4TH HARPER COLLINS,2
4,9.780550e+12,THE BLACK CIRCLE,Mark,4TH HARPER COLLINS,0

### 2. Replace Empty Values
Another way of dealing with empty cells is to insert a new value instead.

In [23]:
df = pd.read_json("JSON_data.json")
df.fillna("India", inplace = True)
df.head()

,id,name,email,password,about,token,country,location,lng,lat,...,sendmenotifications,sendTextmessages,enabletagging,createdAt,updatedAt,livelng,livelat,liveLocation,creditBalance,myCash
0,4051,manoj,manoj@gmail.com,Test@123,India,7f471974-ae46-4ac0-a882-1980c300c4d6,India,India,0.0,0.0,...,False,False,False,2020-01-01T11:13:27.1107739,2020-01-02T09:16:49.284864,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",127,0
1,4050,pankaj,p1@gmail.com,Test@123,India,e269eeef-1de1-4438-885a-e30a9ad26106,India,India,0.0,0.0,...,False,False,False,2020-01-01T07:39:34.1618239,2020-01-01T07:39:34.161824,0.000000,0.000000,India,0,0
2,3050,Neeraj1993,neeraj.singh@adequateinfosoft.com,286956,India,562c2fb5-6799-4b51-8733-a60564c96adc,India,India,0.0,0.0,...,False,False,False,2019-12-27T10:16:05.6578091,2019-12-27T10:22:30.8416992,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",0,0
3,3049,Sophia,sophia@gmail.com,Test@123,Yo,f3bc9393-ad13-41a2-a69b-b607a42d829f,India,"18302 Lorance Trail, Little Rock, AR 72206, USA",0.0,0.0,...,False,False,False,2019-12-26T07:36:22.3481221,2019-12-26T07:36:22.3481222,77.367424,28.626067,"35, Block A, Industrial Area, Sector 62, Noida...",36,0
4,3048,Raju Prasad,raju.nsit@gmail.com,Raju@1234,Don't Quit Your Day Dream,b3eda104-0771-4804-8be2-0e6d7c16412d,India,"Karbala Rd, Block G, Sector 5, Dakshinpuri, Ne...",0.0,0.0,...,True,True,True,2019-12-26T07:17:08.3460039,2019-12-26T14:27:00.4327446,77.367424,28.626067,"35, Block A, Industrial Area, Sector 62, Noida...",5,0

### 3. Replace Only For Specified Columns
The example above replaces all empty cells in the whole Data Frame.

In [24]:
df =  pd.read_json("JSON_data.json")
df["country"].fillna("India", inplace = True)
df.head()

,id,name,email,password,about,token,country,location,lng,lat,...,sendmenotifications,sendTextmessages,enabletagging,createdAt,updatedAt,livelng,livelat,liveLocation,creditBalance,myCash
0,4051,manoj,manoj@gmail.com,Test@123,None,7f471974-ae46-4ac0-a882-1980c300c4d6,India,None,0.0,0.0,...,False,False,False,2020-01-01T11:13:27.1107739,2020-01-02T09:16:49.284864,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",127,0
1,4050,pankaj,p1@gmail.com,Test@123,None,e269eeef-1de1-4438-885a-e30a9ad26106,India,None,0.0,0.0,...,False,False,False,2020-01-01T07:39:34.1618239,2020-01-01T07:39:34.161824,0.000000,0.000000,None,0,0
2,3050,Neeraj1993,neeraj.singh@adequateinfosoft.com,286956,None,562c2fb5-6799-4b51-8733-a60564c96adc,India,None,0.0,0.0,...,False,False,False,2019-12-27T10:16:05.6578091,2019-12-27T10:22:30.8416992,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",0,0
3,3049,Sophia,sophia@gmail.com,Test@123,Yo,f3bc9393-ad13-41a2-a69b-b607a42d829f,India,"18302 Lorance Trail, Little Rock, AR 72206, USA",0.0,0.0,...,False,False,False,2019-12-26T07:36:22.3481221,2019-12-26T07:36:22.3481222,77.367424,28.626067,"35, Block A, Industrial Area, Sector 62, Noida...",36,0
4,3048,Raju Prasad,raju.nsit@gmail.com,Raju@1234,Don't Quit Your Day Dream,b3eda104-0771-4804-8be2-0e6d7c16412d,India,"Karbala Rd, Block G, Sector 5, Dakshinpuri, Ne...",0.0,0.0,...,True,True,True,2019-12-26T07:17:08.3460039,2019-12-26T14:27:00.4327446,77.367424,28.626067,"35, Block A, Industrial Area, Sector 62, Noida...",5,0

In [25]:
df =  pd.read_json("JSON_data.json")
df['creditBalance'].fillna(100, inplace = True)
df.head()

,id,name,email,password,about,token,country,location,lng,lat,...,sendmenotifications,sendTextmessages,enabletagging,createdAt,updatedAt,livelng,livelat,liveLocation,creditBalance,myCash
0,4051,manoj,manoj@gmail.com,Test@123,None,7f471974-ae46-4ac0-a882-1980c300c4d6,NaN,None,0.0,0.0,...,False,False,False,2020-01-01T11:13:27.1107739,2020-01-02T09:16:49.284864,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",127,0
1,4050,pankaj,p1@gmail.com,Test@123,None,e269eeef-1de1-4438-885a-e30a9ad26106,NaN,None,0.0,0.0,...,False,False,False,2020-01-01T07:39:34.1618239,2020-01-01T07:39:34.161824,0.000000,0.000000,None,0,0
2,3050,Neeraj1993,neeraj.singh@adequateinfosoft.com,286956,None,562c2fb5-6799-4b51-8733-a60564c96adc,NaN,None,0.0,0.0,...,False,False,False,2019-12-27T10:16:05.6578091,2019-12-27T10:22:30.8416992,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",0,0
3,3049,Sophia,sophia@gmail.com,Test@123,Yo,f3bc9393-ad13-41a2-a69b-b607a42d829f,NaN,"18302 Lorance Trail, Little Rock, AR 72206, USA",0.0,0.0,...,False,False,False,2019-12-26T07:36:22.3481221,2019-12-26T07:36:22.3481222,77.367424,28.626067,"35, Block A, Industrial Area, Sector 62, Noida...",36,0
4,3048,Raju Prasad,raju.nsit@gmail.com,Raju@1234,Don't Quit Your Day Dream,b3eda104-0771-4804-8be2-0e6d7c16412d,NaN,"Karbala Rd, Block G, Sector 5, Dakshinpuri, Ne...",0.0,0.0,...,True,True,True,2019-12-26T07:17:08.3460039,2019-12-26T14:27:00.4327446,77.367424,28.626067,"35, Block A, Industrial Area, Sector 62, Noida...",5,0

**The method info() provides technical information about a DataFrame**

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   55 non-null     int64
 1   name                 55 non-null     object
 2   email                55 non-null     object
 3   password             55 non-null     object
 4   about                23 non-null     object
 5   token                55 non-null     object
 6   country              0 non-null      float64
 7   location             22 non-null     object
 8   lng                  55 non-null     float64
 9   lat                  55 non-null     float64
 10  dob                  22 non-null     object
 11  gender               55 non-null     int64
 12  userType             55 non-null     int64
 13  userStatus           55 non-null     int64
 14  profilePicture       25 non-null     object
 15  coverPicture         30 non-null     object
 16  enablefollowme       55 non-null     bool
 17  sendmenotifications  55 non-null     bool
 18  sendTextmessages     55 non-null     bool
 19  enabletagging        55 non-null     bool
 20  createdAt            55 non-null     object
 21  updatedAt            55 non-null     object
 22  livelng              55 non-null     float64
 23  livelat              55 non-null     float64
 24  liveLocation         26 non-null     object
 25  creditBalance        55 non-null     int64
 26  myCash               55 non-null     int64
dtypes: bool(4), float64(5), int64(6), object(12)
memory usage: 10.2+ KB

**I’m interested in some basic statistics of the numerical data of my data table**

In [27]:
df.describe()

,id,country,lng,lat,gender,userType,userStatus,livelng,livelat,creditBalance,myCash
count,55.000000,0.0,55.000000,55.000000,55.000000,55.0,55.0,55.000000,55.000000,55.000000,55.000000
mean,2479.763636,NaN,0.159958,0.106089,0.545455,1.0,1.0,36.579483,13.533546,35.272727,0.654545
std,847.789063,NaN,1.186282,0.786775,0.812362,0.0,0.0,38.988305,14.424753,62.006408,4.854239
min,2.000000,NaN,0.000000,0.000000,0.000000,1.0,1.0,0.000000,0.000000,0.000000,0.000000
25%,2011.500000,NaN,0.000000,0.000000,0.000000,1.0,1.0,0.000000,0.000000,0.500000,0.000000
50%,3024.000000,NaN,0.000000,0.000000,0.000000,1.0,1.0,0.000000,0.000000,4.000000,0.000000
75%,3038.500000,NaN,0.000000,0.000000,1.000000,1.0,1.0,77.379020,28.628223,40.500000,0.000000
max,4051.000000,NaN,8.797700,5.834876,3.000000,1.0,1.0,77.389849,28.630237,269.000000,36.000000

### 4. Data convert Into a Correct Format